{% extends 'main/base.html' %}
{% load static %}
{% block title%}Контакты - Любимые Овощи{% endblock %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Свяжитесь с нами!</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">На главную</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'about' %}">О нас</a></li>
                        <li class="breadcrumb-item active"> Контакты </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    {% if message_name %}
        <center>
            <h2>Спасибо за Ваше обращение, {{message_name}}!</h2>
            <h4>Мы получили Ваш заказ и скоро свяжемся с Вами для подтверждения!</h4>
        </center>
        <br/><br/>

    {% else %}
    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>Форма обратной связи</h2>
                        <p>Если вы решили заказать доставку, узнать ассортимент или наличие продукции в магазинах - оставьте нам Ваши контактные данные и мы свяжемся с Вами!.</p>
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="message-name" placeholder="Ваше Имя" required data-error="Пожалуйста введите Ваше имя">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" id="phone1" class="form-control" placeholder="Ваш Телефон" required name="message-phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h4><b>Адрес Доставки:</b></h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="message-adress-street" placeholder="Улица:" required data-error="Пожалуйста введите Ваш адрес">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <input type="text" class="col-sm-12 col-md-6 col-lg-3 form-control-adress" name="message-adress-house" placeholder="Дом:" required data-error="Пожалуйста введите Ваш адрес">
                                        <br/>
                                        <input type="text" class="col-sm-12 col-md-6 col-lg-3 form-control-adress" name="message-adress-flat" placeholder="Квартира:" required data-error="Пожалуйста введите Ваш адрес">
                                        <br/>
                                        <input type="text" class="col-sm-12 col-md-6 col-lg-3 form-control-adress" name="message-adress-podezd" placeholder="Подъезд:">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message-text" class="form-control" placeholder="Ваше сообщение/Ваш заказ" rows="4" data-error="Пожалуйста напишите Ваше сообщение" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
				<div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <h2>Контактные данные</h2>
                        <p>Если у вас возникли вопросы по продукции, местонахождению наших магазинов или нашей компании - свяжитесь с нами! </p>
                        <ul>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Телефон: <a href="tel:+79370608621">+7(937)060-86-21</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:organic_farm@gmail.com">organic_farm@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us -->

    {% endif %}

    <!-- Map info Start -->

    <div class="container">
        <div class="section_info">
            <h1>Наши магазины</h1>
        </div>
        <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Метро Советская <br>Павильон № 1</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Дом молодежи <br>ул. Аэродромная 16Г</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Метро Победа <br>Павильон № 11</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Метро Безымянка <br>Павильон № 16</p>
                </div>
        </div>  
    </div>

    <!-- Map info End -->

    <!--Map Start -->

    <a id="map" href="https://yandex.ru/maps/?um=constructor%3A4ac09ec36f886c7f194598a02320584c898a44280e5df467f1160bf5a0507cb6&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A4ac09ec36f886c7f194598a02320584c898a44280e5df467f1160bf5a0507cb6&amp;width=600&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0;" /></a>

    <!--Map End -->


{% endblock %}