{% extends 'main/base.html' %}
{% load static %}
{% block title%}Любимые Овощи{% endblock %}

{% block content %}
    <!-- Start Slider -->
   <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'images/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Любимые овощи</strong></h1>
                            <p class="m-b-40">Мы поставляем заботливо выращенные экологические продукты<br> для вашего здорового питания и крепкого физического здоровья</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Любимые овощи</strong></h1>
                            <p class="m-b-40">Мы поставляем заботливо выращенные экологические продукты<br> для вашего здорового питания и крепкого физического здоровья</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Любимые овощи</strong></h1>
                            <p class="m-b-40">Мы поставляем заботливо выращенные экологические продукты<br> для вашего здорового питания и крепкого физического здоровья</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Slider -->

    <!--Products Start-->

    <div class="anchor" id="greens"></div>
    <section class="products">
        <div class="container products_inner">
        <div class="section_info">
            <h1>Микрозелень</h1>
            <h4>Микрозелень - молодые проростки растений которые имеют концентрированный вкус и прекрасно подойдут к Вашим салатам, супам и смузи.</h4>
            
        </div>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img src="{% static 'images/greens1.jpg' %}">
            <div class="product_info">
                <h2>Микрозелень<br>брокколи</h2>
                <div class="options">
                    <span class="option selected">140 г</span>
                </div>
                <button class="info_button"><img src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                190 <span class="rub">Р</span>
            </div>
        </article>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img src="{% static 'images/greens2.jpg' %}">
            <div class="product_info">
                <h2>Микрозелень<br>горох</h2>
                <div class="options">
                    <span class="option selected">100 г</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                160 <span class="rub">Р</span>
            </div>
        </article>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img src="{% static 'images/greens3.jpg' %}">
            <div class="product_info">
                <h2>Микрозелень<br>дайкон</h2>
                <div class="options">
                    <span class="option selected">70 г</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                100 <span class="rub">Р</span>
            </div>
        </article>
        </div>
    </section>

    <div class="anchor" id="vegetables"></div>
    <section class="products" style="background-color: #f4f4f4;">
        <div class="container products_inner">
        <div class="section_info">
            <h1>Овощи</h1>
            <h4>Наша продукция не содержит нитратов, нитритов и других вредных компонентов, при выращивании не применяются азотные удобрения.</h4>
            
        </div>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img class="lazy" data-src="{% static 'images/tomato.jpg' %}">
            <div class="product_info">
                <h2>Томаты на ветке</h2>
                <div class="options">
                    <span class="option selected">1 кг</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                100 <span class="rub">Р</span>
            </div>
        </article>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img class="lazy" data-src="{% static 'images/mushroom.jpg' %}">
            <div class="product_info">
                <h2>Вешенки</h2>
                <div class="options">
                    <span class="option selected">500 г</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                130 <span class="rub">Р</span>
            </div>
        </article>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img class="lazy" data-src="{% static 'images/basil.jpg' %}">
            <div class="product_info">
                <h2>Базилик</h2>
                <div class="options">
                    <span class="option selected">200 г</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                125 <span class="rub">Р</span>
            </div>
        </article>
        </div>
    </section>


    <div class="anchor" id="nabor"></div>
    <section class="products">
        <div class="container products_inner">
        <div class="section_info">
            <h1>Наборы для выращивания микрозелени</h1>
            <h4>С помощью этих наборов всего за неделю вы сможете получить самостоятельно выращенную без добавок и химикатов микрозелень.</h4>
            
        </div>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img class="lazy" data-src="{% static 'images/nabor1.jpg' %}">
            <div class="product_info">
                <h2>Набор для выращивания<br>брокколи</h2>
                <div class="options">
                    <span class="option selected">530 г</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                260 <span class="rub">Р</span>
            </div>
        </article>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img class="lazy" data-src="{% static 'images/nabor2.jpg' %}">
            <div class="product_info">
                <h2>Набор для выращивания<br>редис</h2>
                <div class="options">
                    <span class="option selected">530 г</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                270 <span class="rub">Р</span>
            </div>
        </article>
        <article class="product">
            <div class="product_description hidden">
                <button class="close_button"><img class="lazy" data-src="{% static 'images/close.svg' %}"></button>
                <p>Белки: 5 г</p>
                <p>Жиры: 3 г</p>
                <p>Углеводы: 3 г</p>
                <p>Энергетическая ценность: 80 ккал</p>
                <p>Условия хранения: в холодильнике</p>
            </div>
            <img class="lazy" data-src="{% static 'images/nabor3.jpg' %}">
            <div class="product_info">
                <h2>Набор для выращивания<br>горох</h2>
                <div class="options">
                    <span class="option selected">530 г</span>
                </div>
                <button class="info_button"><img class="lazy" data-src="{% static 'images/info.svg' %}"></button>
            </div>
            <div class="price">
                250 <span class="rub">Р</span>
            </div>
        </article>
        </div>
    </section>
    <!--Products End-->

    <!--Delivery Form Start-->

    <div class="anchor" id="delivery"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="contact-form-right">
                    <h2>Заказать доставку</h2>
                    <p>Если вы решили заказать доставку - напишите Ваш список продуктов, укажите свои контактные данные и мы свяжемся с Вами для подтверждения заказа.</p>
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="message-name" placeholder="Ваше Имя" required data-error="Пожалуйста введите Ваше имя">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" id="phone1" class="form-control" placeholder="Ваш Телефон" name="message-phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <h4><b>Адрес Доставки:</b></h4>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="message-adress-street" placeholder="Улица:" required data-error="Пожалуйста введите Ваш адрес">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <input type="text" class="col-sm-12 col-md-6 col-lg-3 form-control-adress" name="message-adress-house" placeholder="Дом:" required data-error="Пожалуйста введите Ваш адрес">
                                        <br/>
                                        <input type="text" class="col-sm-12 col-md-6 col-lg-3 form-control-adress" name="message-adress-flat" placeholder="Квартира:" required data-error="Пожалуйста введите Ваш адрес">
                                        <br/>
                                        <input type="text" class="col-sm-12 col-md-6 col-lg-3 form-control-adress" name="message-adress-podezd" placeholder="Подъезд:">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message-text" class="form-control" placeholder="Ваш заказ" rows="4" data-error="Пожалуйста напишите Ваше сообщение" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!--Delivery Form End-->

    <!--Delivery Conditions Start -->

    <section class="delivery" style="background-color: #F6FAF1;">
        <div class="container delivery_inner">
        <article class="delivery_item">
              <img class="lazy" data-src="{% static 'images/delivery.svg' %}" />
              <p>Доставка по будням с 10.00 до 18.00.<br>В выходные и праздничные дни - по согласованию</p>
        </article>
        <article class="delivery_item">
              <img class="lazy" data-src="{% static 'images/wallet.svg' %}" />
              <p>Оплата при получении.<br>Наличными или переводом на карту</p>
        </article>
        <article class="delivery_item">
              <img class="lazy" data-src="{% static 'images/location.svg' %}" />
              <p>
                Доставка по Самаре.<br>Стоимость доставки - 300<span class="rub">Р</span><br>При заказе от 1500<span class="rub">Р</span> - бесплатно.
              </p>
        </article>
        </div>
    </section>

    <!--Delivery Conditions End -->

    <!-- Map info Start -->

    <div class="container">
        <div class="section_info">
            <h1>Наши магазины</h1>
        </div>
        <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Метро Советская <br>Павильон № 1</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Дом молодежи <br>ул. Аэродромная 16Г</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Метро Победа <br>Павильон № 11</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p class="shop_text"><i class="fas fa-map-marker-alt"></i> Метро Безымянка <br>Павильон № 16</p>
                </div>
        </div>
        
    </div>

    <!-- Map info End -->

<!--Map Start -->

    <a id="map" href="https://yandex.ru/maps/?um=constructor%3A4ac09ec36f886c7f194598a02320584c898a44280e5df467f1160bf5a0507cb6&amp;source=constructorStatic" target="_blank"><img class="lazy" data-src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A4ac09ec36f886c7f194598a02320584c898a44280e5df467f1160bf5a0507cb6&amp;width=600&amp;height=400&amp;lang=ru_RU" alt="" style="border: 0;" /></a>

<!--Map End -->
{% endblock %}
