
.r {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}

.r.with-after:after {
  content: '';
  flex: auto;
}

.r.wide {
  margin: 0;
  width: 100%;
}

.cd {
  flex-direction: column;
}

.vc {
  align-items: center;
}

.r.tight {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.c {
  box-sizing: border-box;
}

.c.inline {
  display: flex;
  align-items: center;
}

.c.vc {
  align-items: center;
}

.c.cr {
  text-align: right;
}

.c.hc {
  display: flex;
  justify-content: center;
}

.c1 {
  width: 8.3%;
}

.c2 {
  width: 16.6%;
}

.c3 {
  width: 23.5%;
  margin-right: 2%;
}

.c3:nth-child(4n+5) {
  margin-right: 0%;
}

.c4 {
  width: 32%;
}

.c6 {
  width: 49%;
}

.c8 {
  width: 66%;
}

.c9 {
  width: 74.5%;
}

.c10 {
  width: 83.3%;
}

.c11 {
  width: 91.6%;
}

.c12 {
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 100%;
    margin-right: 0;
  }
}
